*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 50%;
    margin: 20px auto;
}

.row{
    margin: 20px auto 40px;
}

.product{
    display: inline-block;
    width: 32%;
    position: relative;
}

img{
    width: 100%;
}

.old-price{
    text-decoration: line-through;
}

.new-price{
    color: red;
}

.heart{
    position: absolute;
    top: 20px;
    right: 0;
    background-color: white;
    padding: 5px 10px;
}

.square{
    color: white;
    position: absolute;
    left: 0;   
    bottom: 80px;
}

.red-square{
    background-color: red;
    padding: 2px 4px;
}

.green-square{
    background-color: green;
    padding: 2px 4px;
}

.none{
    display: none;
}

/* hover prodotto 1 */
.prodotto1:hover .foto-levis-1{
    display: none;
}

.prodotto1:hover .foto-levis-2{
    display: inline-block;
    cursor: pointer;
}

/* hover prodotto 2 */
.prodotto2:hover .foto-guess-1{
    display: none;
}

.prodotto2:hover .foto-guess-2{
    display: inline-block;
    cursor: pointer;
}

/* hover prodotto 3 */
.prodotto3:hover .foto-verde-1{
    display: none;
}

.prodotto3:hover .foto-verde-2{
    display: inline-block;
    cursor: pointer;
}

/* hover prodotto 4 */
.prodotto4:hover .seconda-foto-levis-1{
    display: none;
}

.prodotto4:hover .seconda-foto-levis-2{
    display: inline-block;
    cursor: pointer;
}

/* hover prodotto 5 */
.prodotto5:hover .foto-stripe-1{
    display: none;
}

.prodotto5:hover .foto-stripe-2{
    display: inline-block;
    cursor: pointer;
}

/* hover prodotto 6 */
.prodotto6:hover .foto-nero-1{
    display: none;
}

.prodotto6:hover .foto-nero-2{
    display: inline-block;
    cursor: pointer;
}


